# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 10

In [2]:
num_1

10

#### 2. asign any number of type float to the variable "num_2"

In [3]:
num_2 = 10.55

In [4]:
num_2

10.55

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [5]:
total = num_1 + num_2

In [6]:
total

20.55

#### 4. check the type of variable "total"

In [7]:
type(total)

float

#### 5. assign variable "height" with your height

In [8]:
height = 160

In [9]:
height

160

#### 6. asign variable "mass" with your weight

In [10]:
mass = 60

In [11]:
mass

60

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [13]:
bmi = mass/(height**2)

In [14]:
bmi

0.00234375

#### 8. print value from "bmi" variable

In [15]:
print(bmi)

0.00234375

# String

#### 1. Create variable "name" with your first name

In [65]:
name = 'Richard'

In [66]:
name

'Richard'

#### 2. Create variable "surname" with your surname

In [53]:
surname = 'Adisaputro'

In [68]:
surname

'Adisaputro'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [71]:
name_surname = name + ' ' + surname

In [72]:
name_surname

'Richard Adisaputro'

#### 4. print variable "name_surname"

In [73]:
print(name_surname)

Richard Adisaputro

#### 5. print first letter from variable "name_surname"

In [74]:
print(name_surname[0])

R

#### 6. print your name (without enmpty space) from variable "name_surname"

In [77]:
name_surname.strip()

'Richard Adisaputro'

#### 7. print your surname 10x (use variable surname)

In [78]:
print(surname * 10)

AdisaputroAdisaputroAdisaputroAdisaputroAdisaputroAdisaputroAdisaputroAdisaputroAdisaputroAdisaputro

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [79]:
message = 'Hello my name is ' + name_surname

#### 9. print "message" variable

In [80]:
print(message)

Hello my name is Richard Adisaputro

## List

#### 1. create empty list with name "empty_list"

In [86]:
empty_list = []

In [87]:
empty_list

[]

#### 2. create list "heights" with five random values

In [88]:
heights = [160, 165, 168, 170, 171]

In [89]:
heights

[160, 165, 168, 170, 171]

#### 3. print heights

In [90]:
print(heights)

[160, 165, 168, 170, 171]

#### 4. print type of variable "heights"

In [91]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [96]:
print(heights[1])

165

#### 6. assign last three values from "heights" to another list "heights_2"

In [99]:
heights_2 = heights[2:5]

#### 7. print "heights_2"

In [100]:
print(heights_2)

[168, 170, 171]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [103]:
list_all = heights + heights_2

#### 9. print "list_all"

In [104]:
print(list_all)

[160, 165, 168, 170, 171, 168, 170, 171]

#### 10. print the type of "list_all"

In [105]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [106]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [107]:
empty_tuple[0] = 'Richard'

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

Tuple does not support item assignment and therefore is immutable while list is the contrary.

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [108]:
empty_dict = {}

In [109]:
empty_dict

{}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [116]:
heights_dict = {
    'Richard':160
}

In [117]:
heights_dict

{'Richard': 160}

#### 3. asign another name and height to "heights_dict"

In [118]:
heights_dict.update([('Rox',165)])

#### 4. print "heights_dict" dictionary

In [119]:
heights_dict

{'Richard': 160, 'Rox': 165}

#### 5. print your height from the "heights_dict" dictionary

In [131]:
heights_dict['Richard']
print(list(heights_dict.values())[0])

160

#### 6. print all values from "heights_dict" dictionary

In [132]:
list(heights_dict.values())

[160, 165]

#### 7. print all keys from "heights_dict" dictionary

In [134]:
list(heights_dict.keys())

['Richard', 'Rox']